.btn-primary {
  background: #36d1dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-secondary {
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn {
  font-size: 1rem;
  width: 10rem;
  height: 3rem;
  border-radius: 6rem;
  padding: 0.5rem;
  box-shadow: 0 3px 8px rgb(0 0 0 / 0.3);
  color: #fff;
  border: none;
  margin: 1rem;
  transition: all 0.2s;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 10px rgb(0 0 0 / 0.2);
}
